:root {
  /* ------- colors ------- */
  --primary-color: #4a4e69; /* A muted, dark slate */
  --secondary-color: #9a8c98; /* A soft, vintage mauve */
  --tertiary-color: #c9ada7; /* A light, dusty pink */
  --quaternary-color: #f2e9e4; /* A warm off-white for slight contrast against pure white */
  --link-color: #c44536; /* A striking, rich red for links to stand out */
  /* ---------------------- */
	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
